In [2]:
# What is database? Differentiate between sql and nosql databases?
ans = """
Database:- A database is an organised collection of data or structured information stored electronically in the computer system.
It is usually controlled by a database management system, that gives us the authority to update, manipulate our database.
Generally, data is stored in the form of rows and coloumns in a series of table in database to make processing and quering efficient.
However we can also find databases that allows us to store data in unstructured format having not strict concept to store data in the,
form of rows and coloumns.

We can find Sql and no-sql databases currently.
Differentiating facts between sql and no-sql.
SQL:
1. These databases have fixed schema or predifined schema.
2. These databases are best suited for complex queries.
3. It follows ACID property(A: Atomicity, C: Consistency, I: Isolation, D: Durability)
4. Examples: Mysql, Oracle, Ms-sql.

NO-SQL:
1. These databases have dynamic schema.
2. These databases are not so good for complex queries. Banking firms prefer to use sql based databases as compared to mysql,
because transaction oriented quering is done better using sql.
3. It Follows CAP property(C: Consistency, A: Availability, P: Partition tolerance.)
4. Examples: MongoDb, GraphQl, Cassandra.
"""

In [4]:
# What is DDL? Explain why create, drop, alter and truncate are used with an example?
ans = """
DDL(Data Definition Language):- It is a language used to create and modify the structure of database objects in a database,
using predefined commands and a specific syntax.
It is a set of SQL commands responsible in creating description or definition of database.
List of DDL commands:
1. Create.: This command is used to create the database or its objects (like table, index, function, views, store, procedure and triggers)
2. Drop.: This command is used to delete objects from the database.
3. Alter.: This is used to alter the structure of the database.
4. Truncate.: This is used to remove all records from a table, including all spaces allocated fro the records are removed.

To create table schema or table we use CREATE command
example:
CREATE TABLE pwskills(
    courses varchar(30),
    price number,
    course_id number PRIMARY KEY,
)
To Drop objects we make use of drop command.
Example:
drop table pwskills;

Alter: example
Alter table pwskills add course_head_mentor varchar(40);
//It will add another coloumn named course_head_mentor in pwskills table.

Truncate example:
TRUNCATE TABLE pwskills;
"""

In [1]:
# What is DML? Explain insert, update and delete with an example?
ans = """ 
DML(Data Manipulation Language):- 
Data manipulation language is a set of sql commands that helps in manipulating data stored in our database table.
DML provides us a way to add, update, fetch or delete data from the database.
Total dml commands present in sql are:=

1. INSERT: This command allows users to insert data in database tables.
2. UPDATE: This command allows users to update or modify the existing data in database tables.
3. DELETE: Allows users to remove single or multiple existing records from the database tables.

Insert example:
insert into pwskills values('Data Science' , 3500, 123400 , "Sudhanshu Kumar");

Update example:
update pwskills set price = 3200 where courses = 'Data Science';

Delete Example:
Delete from pwskills where course_id = 123400;

"""

In [6]:
# What is DQL? Explain select with an example?
ans = """ 
DQL: Data Query Language is a set of sql commands that helps in fetching some schema relation based on the query passed to it.
It allows getting data from the database. It includes select statement.
Select command allows getting the data out of the database to perform operations with it.
When a select is fired against a table or tables the result is compiled into a further temporary table.

Example Of select statement.
SELECT * from pwskills where courses = 'Data Science';
"""

In [7]:
# Explain primary key and foreign key?
ans = """ 
Primary Key:- Primary key helps in uniquely identify tables or records from databases.
If a coloumn is defined as primary key than it will have unique values and cannot store null values.
Fetching of data becomes easy using primary key.

Foreign Key:- When want tables to relate with each other,
we define an attribute of a table as foreign key relating to or referring to primary key of other table with which,
we want our table to be connected.
Foreign key attribute can take duplicate values but its domain is dependent over primary key of other table,
which means foreign key cannot take any value that is not occuring in value set of attribute to which our foreign key is referring to.
"""

In [8]:
# Write a python code to connect mysql to python. Explain the cursor() and execute() method?
ans = """ 
Python code to connect mysql to python:

import mysql.connector;

mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password",
);

mycursor = mydb.cursor();
mycursor.execute(Operation);
mydb.close();
"""
ans_cursor_execute = """ 
Cursor():- this methods allows us to create a pointer pointing to a particular context area or memory area,
through which we can run or execute sql query statements.

Execute():- The execute() method helps us to execute the query and return records according to the query.
"""

In [ ]:
# Give the order of execution of sql clauses in sql query?
ans = """ 
1. FROM
2. WHERE
3. GROUP BY
4. HAVING
5. SELECT
6. ORDER BY
"""